h1 {
    display: flex;
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

h2 {
    display: flex;
    margin-block-start: 0.60rem;
    margin-block-end: 0.60rem;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.your_location {
    align: center;
    margin: 1rem;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border-color: white;
    border-style: hidden;
    background-color:#2e2e2ed8;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #2d2d2d url('https://source.unsplash.com/1600x900/?weather, nature no-repeat');
}

.card {
    background-color: #2e2e2ed8;
    color: #ffffff;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

.weather-today-contact {
    background-color: #2e2e2ed8;
    color: #ffffff;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

.add-to-favorites {
    margin: 0.4rem;
}

.remove-from-favorites {
    margin: 0.4rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.search-input {
    border: none;
    background-color: #2e2e2ed8;
    padding: 0.8rem;
}

.todo_suggestion{
    font-style: italic;
    font-weight: lighter;
}

.placeholder {
    font-family: 'Times New Roman', Times, serif;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.search-button{
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 50%;
}

.your_location{
    align-self: center;
}